body {
    font-family: sans-serif;
    background-color: lightgrey;
}

main {
    background-color: lightgrey;
    max-width: 100%;
    text-decoration: none;
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 80%;
}

nav {
    text-align: right;
}

a {
    color: black;
}

li {
    padding: 10px 0px;
    list-style: none;
    font-weight: bold;

}

ul {
    padding-inline-start: 0px;
    font-weight: normal;
}

.image {
    border: 15px solid black;
    border-radius: 50px;

}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    margin: 10% auto;
}

input {
    padding: 5px;
    margin: 2px;
}

button {
    margin-top: 20px;
    min-width: 100%;
    padding: 10px 40px;
    background-color: darkgreen;
    color: azure;
    border: none;
}

.req {
    display: none;
    margin-bottom: 10px;
    color: darkred;
}

.error {
    padding: 5px;
    margin: 10px 40px;
    color: brown;
    font-weight: bold;
    text-transform: uppercase
}

.message {
    padding: 5px;
    margin: 10px 40px;
    color: rgb(0, 51, 0);
    font-weight: bold;
    text-transform: uppercase
}

.loading {
    margin: 0 auto;
    border: 12px solid black;
    border-top-width: 36px;
    border-radius: 100%;
    min-width: 50px;
    min-height: 25px;
    max-width: 50px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg);
    }
}