body {
    background-color: lightgrey;
    max-width: 100%;
    text-decoration: none;
    text-align: center;
}

a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.image {
    border: 20px solid black;
    border-radius: 50px;

}